<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
    <id>rrpg.com.cast.goldendays</id>
    <version>1.0</version>
    <name>Ficha Golden Days</name>
    <description>Ficha de GoldenDays para o RRPG Firecast.</description>
    <author>CastielAngels</author>
    <site>http://www.rrpg.com.br/</site>
    <contact>castieldeseraphim@gmail.com</contact>
</module>
