<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.4b">
	<id>RRPGFirecast.Cast.Ruby</id>
	<version>1.0</version>
	<name>Ruby Assistente</name>
	<description>Assistente.</description>
	<author>CastielAngels</author>
	<site>http://www.rrpg.com.br/</site>
	<contact>castieldeseraphim@gmail.com</contact>
</module>
